{% extends 'base.html' %}
<!-- 
* INVENTARIO
-->
{% block title %}Inventario{% endblock %}
<!-- pageContent -->
{% block content %}
	<section class="full-width pageContent">
		<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-store"></i>
			</div>
			<div class="full-width header-well-text">
				<p class="text-condensedLight">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut nulla accusantium minus corporis accusamus fuga harum natus molestias necessitatibus.
				</p>
			</div>
		</section>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<table class="table">
					<thead class="thead-dark">
					  <tr>
						<th scope="col">Almacen</th>
						<th scope="col">Producto</th>
						<th scope="col">Precio</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Presentacion</th>
						<th scope="col">Proveedor</th>
						<th scope="col">Linea</th>
						<th scope="col">Dia de entrada</th>
					  </tr>
					</thead>
					<tbody>
					{% for i in inventory%}
					  <tr>
						<td>{{i.store}}</td>
						<td>{{i.name_product}}</td>
						<td>{{i.price_product}}</td>
						<td>{{i.cant}}</td>
						<td>{{i.presentation}}</td>
						<td>{{i.providers}}</td>
						<td>{{i.line}}</td>
						<td>{{i.entry_date}}</td>
					  </tr>
					{% endfor %}
					</tbody>
				</table>
				<button style="float:right ;" type="button" class="btn btn-dark"><a href="{% url 'render/pdf/' %}" target="_blank"> Ver PDF</a></button>
			</div>
		</div>
	</section>
{% endblock %}
