{% extends 'base.html' %}
{% load static %}
<!-- 
* LISTAR ENTRADAS
-->
{% block title %}Listar entradas{% endblock %}

<!-- pageContent -->
{% load test_tags %} 
{% block content %}
	<section class="full-width pageContent">
		<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-washing-machine"></i>
			</div>
			<div class="full-width header-well-text">
				<p class="text-condensedLight">
					ENTRADAS
				</p>
			</div>
		</section>
		<div class="mdl-tabs__panel" id="tabListClient">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-success text-center tittles">
								Listar entradas
							</div>
							<div class="full-width panel-content">
								<form action="#">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
										<label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient">
											<i class="zmdi zmdi-search"></i>
										</label>
										<div class="mdl-textfield__expandable-holder">
											<input class="mdl-textfield__input" type="text" id="searchClient">
											<label class="mdl-textfield__label"></label>
										</div>
									</div>
								</form>
								<div class="mdl-list">
									{% for entrada in entradas %}
									<div class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="zmdi zmdi-account mdl-list__item-avatar"></i><br>
											<span>{{entrada | to_class_name  }}</span>
										</span>
										<a href="/editEntry/{{entrada.id}}" class="btn btn-success zmdi zmdi-edit" role="button"></a>
										<a href="/deleteEntry/{{entrada.id}}" class="btn btn-danger zmdi zmdi-delete" role="button" onClick="return confirm('¿Seguro que quieres borrar a {{ entrada | to_class_name }}?');"></a>
									</div>
									<li class="full-width divider-menu-h"></li>
									{% endfor %}
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
	</section>
{% endblock %}