{% extends 'base.html' %}
<!-- 
* VENTAS
-->
{% block title %}Ventas{% endblock %}

<!-- pageContent -->
{% block content %}
	<section class="full-width pageContent">
		<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-shopping-cart"></i>
			</div>
			<div class="full-width header-well-text">
				<p class="text-condensedLight">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut nulla accusantium minus corporis accusamus fuga harum natus molestias necessitatibus.
				</p>
			</div>
		</section>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<table class="table">
					<thead class="thead-dark">
					  <tr>
						<th scope="col">Almacen</th>
						<th scope="col">Usuario</th>
						<th scope="col">Cliente</th>
						<th scope="col">Producto</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Precio Total</th>
						<th scope="col">Dia de salida</th>
					  </tr>
					</thead>
					<tbody>
					{% for s in sales%}
					  <tr>
						<td>{{s.store}}</td>
						<td>{{s.user_name}}</td>
						<td>{{s.client}}</td>
						<td>{{s.product}}</td>
						<td>{{s.cant}}</td>
						<td>{{s.total_price}}</td>
						<td>{{s.created_at}}</td>
					  </tr>
					{% endfor %}
					</tbody>
				</table>
				<button style="float:right ;" type="button" class="btn btn-dark"><a href="{% url 'render/pdf_sales/' %}" target="_blank"> Ver PDF</a></button>
			</div>
		</div>
	</section>
{% endblock %}
